.top-shelf {
    width: 100%;
    min-width: 1020px;
    position: relative;
    padding-top: 15px;
}
.top-shelf-grey {
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
}
.content-container {
    width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

